/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Embed */

.crimson { font-family: "Crimson", "Palatino", "Hoefler Text", "Georgia", "Times New Roman", "Baskerville", serif; ;}

.hattori-hanzo { font-family: "Hattori Hanzo", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; font-size: 0.925em;}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Bold-webfont.eot');
    src: local('☺'), url('../fonts/Crimson-Bold-webfont.woff') format('woff'), url('../fonts/Crimson-Bold-webfont.ttf') format('truetype'), url('../fonts/Crimson-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-BoldItalic-webfont.eot');
    src: local('☺'), url('../fonts/Crimson-BoldItalic-webfont.woff') format('woff'), url('../fonts/Crimson-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Crimson-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Italic-webfont.eot');
    src: local('☺'), url('../fonts/Crimson-Italic-webfont.woff') format('woff'), url('../fonts/Crimson-Italic-webfont.ttf') format('truetype'), url('../fonts/Crimson-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Roman-webfont.eot');
    src: local('☺'), url('../fonts/Crimson-Roman-webfont.woff') format('woff'), url('../fonts/Crimson-Roman-webfont.ttf') format('truetype'), url('../fonts/Crimson-Roman-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Semibold-webfont.eot');
    src: local('☺'), url('../fonts/Crimson-Semibold-webfont.woff') format('woff'), url('../fonts/Crimson-Semibold-webfont.ttf') format('truetype'), url('../fonts/Crimson-Semibold-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-SemiboldItalic-webfont.eot');
    src: local('☺'), url('../fonts/Crimson-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/Crimson-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/Crimson-SemiboldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Hattori Hanzo';
    src: url('../fonts/Hattori_Hanzo-webfont.eot');
    src: local('☺'), url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Hattori Hanzo';
    src: url('../fonts/Hattori_Hanzo_Italic-webfont.eot');
    src: local('☺'), url('../fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo_Italic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 200;
    font-style: italic;
}

@charset "UTF-8";

@font-face {

    font-family: 'fontello';
    src: url("../fonts/fontello.eot");
    src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../fonts/fontello.ttf") format('truetype'), url("../fonts/fontello.svg#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {

    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
//  opacity: 0.7;
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    /* fix buttons height */
    line-height: 1em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

.icon-left-2:before { content: '\e813'; } /* '' */
.icon-left-1:before { content: '\e80a'; } /* '' */
.icon-left:before { content: '\2190'; } /* '←' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-up-1:before { content: '\e80c'; } /* '' */
.icon-up-2:before { content: '\e815'; } /* '' */
.icon-right-1:before { content: '\e80b'; } /* '' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-right-2:before { content: '\e814'; } /* '' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-down-1:before { content: '\e80d'; } /* '' */
.icon-down-2:before { content: '\e812'; } /* '' */
.icon-cloud-1:before { content: '\e81b'; } /* '' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-music:before { content: '\266a'; } /* '♪' */
.icon-music-2:before { content: '\e803'; } /* '' */
.icon-music-1:before { content: '\266b'; } /* '♫' */
.icon-mail-2:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-mail-3:before { content: '\e802'; } /* '' */
.fontface .icon-mail:before { content: '\2709'; } /* '✉' */
.icon-cancel-2:before { content: '\e80f'; } /* '' */
.icon-cancel-3:before { content: '\e819'; } /* '' */
.icon-cancel-1:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-cancel-circle-1:before { content: '\e808'; } /* '' */
.icon-cancel-circle-2:before { content: '\e81a'; } /* '' */
.icon-resize-vertical:before { content: '\2b0c'; } /* '⬌' */
.icon-resize-horizontal:before { content: '\2b0d'; } /* '⬍' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-rss-1:before { content: '\e818'; } /* '' */
.icon-rss-alt:before { content: '\e73b'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-left-open-2:before { content: '\e816'; } /* '' */
.icon-left-open-1:before { content: '\e810'; } /* '' */
.icon-right-open-2:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-off:before { content: '\e78e'; } /* '' */
.icon-terminal:before { content: '\e7ac'; } /* '' */
.icon-mobile-alt:before { content: '\e7b0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect-1:before { content: '\e81c'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.fontface .icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-bird-1:before { content: '\e81d'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.fontface .icon-github:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e81e'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-skype-1:before { content: '\e820'; } /* '' */
.icon-tumblr-rect-1:before { content: '\e81f'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-tumblr:before { content: '\f311'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-headphones-1:before { content: '\e805'; } /* '' */
.icon-headphones:before { content: '🎧'; } /* '\1f3a7' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-phone-1:before { content: '\e80e'; } /* '' */
.fontface .icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-upload-1:before { content: '\e809'; } /* '' */
.icon-download-1:before { content: '\e806'; } /* '' */
.fontface .icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-mobile-1:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-signal:before { content: '📶'; } /* '\1f4f6' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔎'; } /* '\1f50e' */

/* My CSS */

body {

    font-family: "Hattori Hanzo", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
    color: #ffffff;
}

body.background {
	
	display: block;
	position: relative;
	
	width: 100%;
    
    background: url('../images/low_contrast_linen.png'); 

}

.hidden {

    display: none;
}

a, a:visited {

    color: #0099ff;
    text-decoration: none;
}

a: hover {

    color: #ffffff;
}

/* Clear Floats */

.clearFix:after {

    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

div.wrapper {

    margin: 0 auto;
}

/* Heading */

div.headingWrapper {

    width: 800px;
    margin: 0 auto;
    padding: 24px 0;
}

/*
div.headingBg, div.footerBg {

    background: rgba(0,0,0, 0.7)
}
*/

.title {

    display: block;
    float: left;
}

.title h1 {

    font-size: 2em;
    font-weight: bold;
}

h2.highlight {

    color: #0099ff;
    font-size: 1.4em;
    font-style: italic;
}

/* Contact Info */

div.contactInfo {

    margin-top: 16px;
    float: right;
    text-align: right;
}

div.contactInfo a {

    text-decoration: none;
    font-size: 0.9em;
    color: #0099ff;
    line-height: 1.6em;
}

div.contactInfo a:hover {

    color: #ffffff;
}

/* Content Screens */

div.contentWrapper {

    width: 800px;
    margin: 24px auto 0 auto;
}

div.tintedWindow{
   
    display: block;
    position: relative;
    float: left;

    width: 244px;
    height: 188px;

    margin: 0 18px 36px 0;

    background: black;
    border: 4px solid white;
    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    box-shadow: rgba(0,0,0, 0.2) 5px 5px 3px;
    -moz-box-shadow: rgba(0,0,0, 0.2) 5px 5px 3px;
    -webkit-box-shadow: rgba(0,0,0, 0.2) 5px 5px 3px;
}

div.screenWindow div.lastItem {

    margin-right: 0;
}

div.screenWindow {

    width: 100%;
    overflow: hidden;
}

div.tintedWindow a {
    
    display: block;
    position: relative;
    z-index: 2;
   
    width: 100%;
    height: 100%;

    font-size: 0;
    color: transparent;
}

div#s1 {

    background: url('../images/sprites.png') 0 0 no-repeat;
}

div#s2 {

    background: url('../images/sprites.png') -252px 0 no-repeat;
}

div#s3 {

    background: url('../images/sprites.png') -504px 0 no-repeat;
}

div#s4 {

    background: url('../images/sprites.png') 0 -197px no-repeat;
}


div#s5 {

    background: url('../images/sprites.png') -253px -197px no-repeat;
}

div#s6 {

    background: url('../images/sprites.png') -506px -197px no-repeat;
}


div.description {

    display: block;

    text-align: center;
    background: rgba(0,0,0, 0.4);

    margin-top: -73px;
    padding: 10px;

    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

div#s5 div.description {

    margin-top: -102px;
}

div.description div.projectTitle {

    font-family: "Crimson", "Palatino", "Hoefler Text", "Georgia", "Times New Roman", "Baskerville", serif;
    font-size: 18pt;
    line-height: 22pt;
}

div.description div.projectMethods {

    font-size: 9pt;
    font-style: italic;
    line-height: 18pt;
}

div.hidden {

    display: none;
}

/* Adding tint to windows on hover */

.tint {

    position: relative;
    float: left;
    cursor: pointer; 

}

.tint:after {

    content: "";
    display: block;
    position: absolute;

    height: 188px;
    width: 244px;

    top: 4px;
    right: 0;
    bottom: 0;
    left: 4px;
   
    
    background: rgba(0,0,0, 0.3)  url('../images/shl.png');
    opacity: 0.25;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.tint:hover:after {

    background: none;
}

/* About Section */

div.aboutMe h1 {

    font-size: 1.4em;
    font-style: italic;
    padding-bottom: 12px;
    text-align: center;
}

div.aboutMe p {

    font-size: 95%;
    line-height: 1.4;
    padding-bottom: 24px;
}

/* Footer */

div.footerWrapper { 

    width: 800px;
    margin: 0 auto 0 auto;
    font-size: 10pt;
    padding: 0 0 24px 0;
}

div.footerWrapper span {

    display: block;
    text-align: right; 
    margin: 0;
}
